<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVC - Mua hàng trực tuyến uy tín với giá rẻ hơn</title>
    <link rel="icon" href="/icons/ic_shopping_cart_black_12dp_1x.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/aproduct.css">
    <link rel="stylesheet" href="/css/main-navigation.css">
    <link rel="stylesheet" href="/css/indexPage.css">
    <link rel="stylesheet" href="/css/category-page.css">
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <!--<div id="abar">-->
      <!--<a href="https://nodejsdesignpatterns.com" target="_blank">Want to know more about Node.js, React and Universal Javascript?</a>-->
    <!--</div>-->
    <script src="/js/bundle.js"></script>
  </body>
</html>
