.a-product {
    width: 248px;
    min-height: 248px;
    max-width: 248px;
    height: 369px;
    background: #fff;
    position: relative;
    padding: 10px;
    cursor: pointer;
}
.a-product:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.1)
}
.a-product .title-aproduct {
    font-size: 13px;
    color: #242424;
    line-height: 1.54;
    font-weight: 300;
    overflow: hidden;
    word-break: break-all;
}
.a-product .img-2h-circle {
    position: absolute;
    top: 10px;
    right: 10px;

}
.a-product .img-deal-badge {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(../imgs/deal-badge@2x.png);
    background-size: contain;
    padding: 0;
    line-height: 40px;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
.a-product .star {
    color: yellow;
    font-size: 14px;
}
.a-product .star-border {
    font-size: 14px;
}
.a-product .comment {
    font-size: 11px;
    color: #787878;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.price-sale {
    font-size: 15px;
    color: #242424;
    font-weight: bold;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.price-regular {
    font-size: 11px;
    color: #a2a2a2;
    text-decoration: line-through;
    font-weight: 300;
}

.process-bar {
    height: 4px;
    display: block;
    width: 100%;
    background: #e0e0e0;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.process-bar div{
    background: #ff424e;
    height: 100%;
    border-radius: 4px;
    width: 90%;
}
.deal-count-down {
    font-size: 10px;
    color: #242424;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
}
.time-count-down {
    font-size: 10px;
    color: #ff424e;
    font-weight: bold;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
