.category-page #mainAdsBox{
padding-right: 8px;
}
.category-page .row-imge-2 {
    margin-top: 10px;
}
.category-page .star {
    color: yellow;
    font-size: 20px;
}
.category-page .star-border {
    font-size: 20px;
}
.category-page .padding-8 {
    padding: 8px;
}
.category-page .branch-care {
    margin-top: 15px;
    background: #e0f3ff;
    height: 20px;
    padding-top: 9px;
}

.tab-select-produc {
    background-color: #2196f3;
}
