
footer {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background: #fff;
    padding: 50px;
}
footer .margin-top-10 .element {
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    cursor: pointer;
}
footer .margin-top-10 .element:hover {
    color: gainsboro;
}
footer .margin-top-10  .hotline-number{
    color: #c4011a;
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
}
footer .title-footer {
    font-weight: bold;
}
