.product-detail {
    background: #fff;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
}
.padding-40 {
    padding: 40px;
}

.product-image {
    border-right: 2px solid #f7f7f7;
    max-width: 527px;
    height: 476px;
    min-width: 375px;
    padding: 24px 24px 20px 20px;
}

.product-feature-images-vertical {
    width: 280px;
}
.product-reivew-images {
    width: 360px;
    height: 360px;
}
.product-feature-images-vertical .thumb-item {
    width: 72px;
    height: 72px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ececec;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    margin-top: 8px!important;
}

.product-feature-images-vertical .thumb-item .flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.product-name {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
    margin: 16px 0 5px;
}
.product-brand {
    color: #007ff0;
    font-weight: 400;
    cursor: pointer;
}
.product-sku {
    font-size: 13px;
    font-weight: 400;
    color: #9b9b9b;
    margin-left: 20px;
}
.border-product-name {
    border-bottom: 1px solid #ececec;
}
.padding-top-10 {
    padding-top: 10px;
}
.vnd {
text-decoration: underline;
}
.price {
    color: #ff3425;
    font-size: 19px;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.text-gray {
    font-size: 13px;
    color: #9b9b9b;
    font-weight: 300;
}
.discount-percent {
    margin-left: 4px;
    font-weight: 400;
    color: #ff3425;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.text-deal-process {
    color: #ff3b27;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.deal-process {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 8px;
    margin-top: 4px;
    background: #f1f1f1;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.deal-process span {
    background: #FF3B27;
    display: flex;
    height: 100%;
    width: 90%;
}
.show-border {
    border-bottom: 1px solid #ececec;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.salient-features {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    padding-left: 25px;
}
.salient-features li {
    margin-bottom: 5px;
    margin-top: 5px;
}
.alert-warning-border {
    background-color: #fffffb;
    border-color: #fdd835;
    color: #dfbd15;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    border: 1px solid  #fdd835;
    border-radius: 4px;
    padding: 8px;
}
.input-group {
    display: table;
    border-collapse: separate;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.bootstrap-touchspin-down {
    border-radius: 4px 0 0 4px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 0 10px;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    line-height: 15px;
    font-size: 14px;
    font-weight: 300;
    height: 28px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}
.bootstrap-touchspin-down:hover{
    background: #e2e2e2!important
}
.bootstrap-touchspin-up{
    border-radius: 0 4px 4px 0;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 0 10px;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    line-height: 15px;
    font-size: 14px;
    font-weight: 300;
    height: 28px;
    position: relative;
    cursor: pointer;
}
.bootstrap-touchspin-up:hover{
    background: #e2e2e2!important
}
.form-control {
    display: block;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 26px;
    padding: 0;
    margin-bottom: 0;
    width: 28px;
    float: left;
    text-align: center;
}
.product-numbers {
    font-size: 11px;
    color: #7b7b7b;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.add-into-cart  Button{
        text-transform: none;
}

.favorite-border {
    color: #858585;
    font-size: 36px !important;
}
.favorite-border:hover {
    color: #f2665d;
    cursor: pointer;
}
.infor-seller-block-wrap {
    width: 205px;
    height: 135px;
}
.infor-seller-block-wrap {
    border-radius: 4px;
    border: 1px solid #ececec;
    margin: 11px 0 0;
    padding: 5px;
}
.infor-seller-block-wrap Button, .sale-product-question Button{
    text-transform: none;
    min-width: 64px;
    min-height: 24px;
    font-weight: 300;
    background: #189eff;
    border: 1px solid #189eff;
    font-size: 11px;
    padding: 0;
}
.infor-seller-block-wrap Button:hover {
    text-transform: none;
    min-width: 64px;
    min-height: 24px;
    padding: 0;
    font-weight: 300;
    background: #189eff;
    border: 1px solid #189eff;
    font-size: 11px;
}
.product-detail .star-border {
    color: yellow;
}
.text-small {
    color: #4a4a4a;
    font-weight: 400;
    line-height: 1.38;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.name-seller {
    color: #007ff0;
    font-weight: bold;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.name-infor-guarantee {
    font-weight: bold;
    color: #4a4a4a;
    font-size: 13px;
}

.hotline {
    font-size: 13px;
    color: #4a4a4a;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.small-time {
    font-size: 11px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #4a4a4a;;
}
.sale-product-question {
    border-top: 1px dashed rgba(0,0,0,.12);
}
.padding-18px {
    padding-left: 18px !important;
    padding-right: 18px !important;
}
.where-deliver-question {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.choose-province {
    color: #007ff0;
    font-size: 13px;
    line-height: 1.5;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.padding-10 {
    padding: 10px;
}
.product-author-title {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}
.product-view-also {
    padding: 0 40px 40px 40px;
}
