/*! CSS reset from benfrain/app-reset */

html {
  background: #f4f4f4;
}
a {
  text-decoration: none;
}
.padding-right-50 {
  padding: 0 50px 0 0 ;
}
.cursor {
  cursor: pointer !important;
}
.sendMail {
  margin: 40px !important;
  padding-left: 40px;
  padding-right: 40px;
}
.input-send-mail {
  width: 250px;
}
.register {
  font-weight: bold;
}

